/*
    Programación 4 - Proyecto #2
    15 Junio 2019

    Document   : datos.css
    Author     : Rachel Basulto 801030879
                 Danny Gómez    116440310
*/

html{
    background-color: #f0f0f6;
}
    
h2{
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    text-shadow: 2px 2px #9999ff;
    text-align: center;
}


form{
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    width: 30%;
    background-color: #4e25ca;
    margin-left: 35%;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
}

label{
    margin-left: 42px;
    display: inline-block;  
    color: white;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 8px 12px;
    margin: 8px 42px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 13.5px;
}

#change{
    background-color: #f0f0f6;
    color: black;
    font-weight: bold; 
    padding: 8px 12px;
    margin: 30px 42px;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 8px;
}

button:hover{
    opacity: 0.8;
}

